header.header
  .container
    .row.align-item-center 
      .col-3 
        .inner-logo 
          a(href="/")
            img(src="/images/logo-28tech.svg",alt ="logo")           
      .col-9      
        .inner-menu
          ul
            li
              a(href="/") trang chủ
            li
              a(href="/products") sản phẩm